#content {
    margin: 0 auto;
    width: 400px;
    min-height: 100px;
    border-radius: 10px;
    border: 2px dotted #ED3D1A;
}
#select_org {
    margin: 0 auto;
    width: 240px;
    height: 100px;
    line-height: 100px;
}
#content #school_select {
    display: block;
}
#content .hide {
    margin: 0 auto;
    width: 300px;
    display: none;
}
#submit {
    margin-left: 350px;
}
