#content {
    margin: 0 auto;
    /*width: 525px;*/
    height: 300px;
    border: 2px dotted #ED3D1A;
    border-radius: 10px;
}
#content strong {
    color: #666;
}
#content li {
    color: #ED3D1A;
}
#content #photo_show {
    /*margin-right: 40px;*/
    width: 150px;
    height: 180px;
    margin: 15px;
    margin-right: 50px;
}
#content #info {
    margin: 10px;
    line-height: 40px;
    margin-left: 50px;
}
#content img {
    height: inherit;
    width: inherit;
    border: 1px dotted #ef7c61;
    border-radius: 10px;
}

#content .underline {
    margin-top: 15px;
}

#school_num {
    float: right;
    margin: 10px;
}
